:root {
  font-family: Circular Std;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: #000;
  background-color: #fff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

@font-face {
  font-family: "Circular Std";
  src: local("Circular Std"), url(./fonts/CircularStd-Medium.otf) format("opentype");
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  min-height: 100vh;
}

#root {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.displayClass {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  min-width: 50%;
}

.column {
  width: clamp(300px, 50%, 500px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.column ul {
  width: 100%;
}

#lyrics {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  max-height: 50vh;
  max-width: 25em;
  overflow-y: auto;
  margin: 15px 15px;
  border-radius: 5px;
  padding: 25px;
  background-color: #d53b3b;
  color: white;
  line-height: 0.1;
}

#lyrics h2 {
  font-size: 1rem;
  font-weight: 600;
  margin: 0;
  padding: 0px 0px 5px 0px;
  line-height: 1;
}

#lyrics h3 {
  font-size: 1rem;
  font-weight: 600;
  margin: 0;
  padding: 0px 0px 10px 0px;
  line-height: 1;
}

#lyrics p {
  font-size: 1.5rem;
  line-height: 1.6rem;
  margin: 0px 0px 20px 0px;
}

.lyricsImage{
  width: 10vw;
  height: 100px;
  background-color: #c4c4;
  float: left;
}

.lyricsName {
  width: 10vw;
  height: 100px;
  background-color: blueviolet;
  float: right;
}